@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 306px;
        --sidebar_width_small: 280px;
        --font_size: 17px;
        --font_size_title: 27px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .content_flex .content
    {
        padding: 0;
    }



    /*--------------
        ButtonUp
    --------------*/
    .buttonUp
    {
        right: 24px;
        bottom: 76px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*--------------
        All link
    --------------*/
    .all_link a
    {
        padding: 10px 10px 10px 12px;
    }


    .all_link span
    {
        position: relative;
        top: -1px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 18px;
    }



    /*------------
        Header
    ------------*/
    header .info,
    header .bottom
    {
        padding: 12px 0;
    }


    header .logo img
    {
        height: 44px;
    }


    header .time
    {
        margin-left: 24px;
    }


    header .location .exp
    {
        font-size: 12px;
    }


    header .order_btn
    {
        margin-left: 24px;
    }


    header .callback_btn
    {
        margin-top: 0;
    }


    header .messengers a
    {
        width: 40px;
        height: 40px;
    }

    header .messengers a + a
    {
        margin-left: 4px;
    }


    header .menu
    {
        width: calc(100% - 80px);
    }



    header .search > .btn
    {
        width: 40px;
        height: 40px;
    }


    header .search .mini_modal,
    header .search .mini_modal.active
    {
        margin-top: -68px;
    }

    header .search form
    {
        width: 800px;
        padding: 12px 0;
    }


    header .search .result .title
    {
        font-size: 23px;
    }


    header .search .result .items .name
    {
        font-size: 18px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .files .file .link a
    {
        font-size: 18px;

        padding: 10px 24px;
    }



    aside .exp
    {
        padding: 0;
    }



    aside .add_review_banner
    {
        padding: 24px 24px 0;

        border-radius: 24px;
    }


    aside .add_review_banner .title
    {
        font-size: 27px;
    }


    aside .add_review_banner .btn
    {
        font-size: 18px;

        padding: 10px 24px;
    }


    aside .service_info
    {
        display: none;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head.with_image
    {
        min-height: 440px;
        padding: 40px 0;
    }

    .page_head.with_image .data
    {
        width: calc(100% - 390px);
    }


    .page_title
    {
        font-size: 38px;
    }


    .page_head .filter .sort > .btn .page_head .filter .month
    {
        padding: 10px 12px;
    }


    .page_head .order_btn
    {
        font-size: 18px;

        padding: 11px 20px;
    }


    .page_head .service_price
    {
        width: 350px;
        padding: 24px;

        border-radius: 24px;
    }

    .page_head .service_price .price
    {
        font-size: 33px;
    }



    .page_head .paid_consult
    {
        width: 350px;
        padding: 24px;

        border-radius: 24px;
    }

    .page_head .paid_consult .type
    {
        width: calc(100% - 145px);
    }

    .page_head .paid_consult .nice-select .current,
    .page_head .paid_consult .order_btn
    {
        font-size: 18px;
    }


    .page_head .order_form
    {
        width: 360px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 16px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input,
    .form textarea
    {
        font-size: 18px;
    }


    .form .submit_btn
    {
        font-size: 18px;
    }


    .form .agree
    {
        margin-top: 12px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 27px;
    }

    .text_block h3
    {
        font-size: 21px;
    }

    .text_block h4
    {
        font-size: 18px;
    }


    .text_block figure.left,
    .text_block figure.right
    {
        width: 340px;
    }


    .text_block .message
    {
        font-size: 18px;

        margin-top: 32px;
        margin-bottom: 32px;
    }


    .text_block .big
    {
        margin-top: 32px;
        margin-bottom: 32px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 500px;
    }


    .first_section .data
    {
        width: 408px;
        margin-left: 40px;
    }


    .first_section .title
    {
        font-size: 38px;
    }


    .first_section .desc
    {
        font-size: 23px;
    }


    .first_section .order_btn
    {
        font-size: 18px;

        margin-top: 32px;
        padding: 10px 24px;
    }



    /*--------------
        Schedule
    --------------*/
    .schedule .item
    {
        margin-right: 0;
        margin-left: 0;
        padding: 40px;
    }


    .schedule .item .data .name
    {
        font-size: 23px;
    }


    .schedule .item .col
    {
        width: 252px;
    }


    .schedule .item .date
    {
        font-size: 33px;
    }



    /*------------------
        Vacancy info
    ------------------*/
    .vacancy_info .title
    {
        font-size: 23px;
    }



    /*-----------------
        Send resume
    -----------------*/
    .send_resume
    {
        padding: 24px;

        border-radius: 24px;
    }


    .send_resume .title
    {
        font-size: 27px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .row
    {
        margin-bottom: -16px;
        margin-left: -16px;
    }

    .vacancies .row > *
    {
        width: calc(33.333% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .vacancies .vacancy
    {
        padding: 24px;

        border-radius: 24px;
    }


    .vacancies .vacancy .name
    {
        font-size: 22px;

        min-height: 100px;
    }


    .vacancies .vacancy .arr
    {
        right: 24px;
        bottom: 24px;
    }



    /*--------------
        About us
    --------------*/
    .about_us .block_title
    {
        font-size: 38px;
    }


    .about_us .title
    {
        font-size: 23px;

        margin-bottom: 30px;
        padding: 0 40px;
    }


    .about_us .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .about_us .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .about_us .item
    {
        padding: 24px;

        border-radius: 24px;
    }

    .about_us .item .name
    {
        font-size: 18px;
    }


    .about_us .doctor
    {
        margin: 0;
        padding: 40px 40px 256px;
    }


    .about_us .doctor .name
    {
        font-size: 23px;
    }


    .about_us .doctor .photo
    {
        width: 400px;
        height: 400px;
    }

    .about_us .doctor .photo.small
    {
        right: 0;
    }


    .about_us .awards
    {
        padding: 12px 40px;
    }



    /*------------
        Photos
    ------------*/
    .photos .item .thumb
    {
        border-radius: 24px;
    }



    /*----------------
        Internship
    ----------------*/
    .internship .data
    {
        padding: 0 40px;
    }


    .internship .title
    {
        font-size: 23px;

        margin-bottom: 32px;
    }


    .internship .cities .label
    {
        font-size: 18px;

        margin-bottom: 16px;
    }


    .internship .cities .row
    {
        font-size: 23px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .why_we .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .why_we .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .why_we .row > *
    {
        display: inline-block;

        width: 350px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .why_we .row > * + *
    {
        margin-left: 12px;
    }


    .why_we .item
    {
        min-height: 216px;
        padding: 24px;

        border-radius: 24px;
    }

    .why_we .item .name
    {
        font-size: 18px;
    }


    .why_we .order_btn
    {
        font-size: 18px;

        padding: 10px 20px;
    }



    /*-----------------
        Consulttion
    -----------------*/
    .consulttion .messengers a
    {
        font-size: 18px;
    }


    .consulttion .messengers .icon
    {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }



    /*----------------------
        Service included
    ----------------------*/
    .service_included .data
    {
        padding: 0 40px;
    }


    .service_included .title
    {
        font-size: 23px;
    }


    .service_included .row > *
    {
        font-size: 18px;

        padding: 0;
    }



    /*---------------------
        Service doctors
    ---------------------*/
    .service_doctors .doctor .name
    {
        font-size: 23px;
    }


    .service_doctors .doctor .order_btn
    {
        font-size: 18px;

        padding: 10px 24px;
    }



    /*-----------------------
        Pain consultation
    -----------------------*/
    .pain_consultation .order_btn
    {
        font-size: 18px;

        padding: 10px 24px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding: 120px 0 180px;
    }


    .error_info .title
    {
        font-size: 38px;
    }


    .error_info .link a
    {
        font-size: 18px;

        padding: 10px 24px;
    }

    .error_info .link a .icon
    {
        width: 20px;
        height: 20px;
    }


    .error_info .image
    {
        left: 24px;

        width: 343px;
        height: 343px;
        margin-left: 0;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding: 40px 0 180px;
    }


    .contacts_info .item .location,
    .contacts_info .item .time,
    .contacts_info .item .email
    {
        font-size: 18px;
    }


    .contacts_info .item .callback_btn
    {
        padding: 10px 24px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review
    {
        padding: 24px;

        border-radius: 24px;
    }

    .reviews .list > * + *
    {
        margin-top: 16px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form
    {
        padding: 24px;

        border-radius: 24px;
    }


    .order_form .title
    {
        font-size: 27px;
    }


    .order_form .agree
    {
        margin-top: 134px;
    }


    .order_form .img
    {
        width: 216px;
        height: 216px;
    }



    /*-------------------
        Services info
    -------------------*/
    .services_info .row
    {
        margin-bottom: -32px;
        margin-left: -20px;
    }

    .services_info .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 32px;
        margin-left: 20px;
    }


    .services_info .swiper-slide .service .thumb
    {
        width: 100%;
        margin-bottom: 12px;
        padding-bottom: 66.58%;
    }

    .services_info .swiper-slide .service .thumb + *
    {
        width: 100%;
    }


    .services_info .service .name
    {
        font-size: 23px;

        width: 100%;
    }


    .services_info .service .price
    {
        width: 100%;
        padding-bottom: 0;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -32px;
        margin-left: -20px;
    }

    .articles .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 32px;
        margin-left: 20px;
    }


    .articles .article .name
    {
        font-size: 23px;
    }



    /*------------
        Videos
    ------------*/
    .videos .row
    {
        margin-bottom: -32px;
        margin-left: -20px;
    }

    .videos .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 32px;
        margin-left: 20px;
    }


    .videos .video .name
    {
        font-size: 23px;
    }



    /*-----------------
        Doctor info
    -----------------*/
    .doctor_info .text_block
    {
        margin-top: 52px;
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery .swiper
    {
        height: 444px;
    }

    .photo_gallery .swiper-slide
    {
        height: 212px;
    }


    .photo_gallery .item .thumb
    {
        height: 212px;

        border-radius: 24px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        margin: 0;
    }


    .action_block .title
    {
        font-size: 27px;
    }


    .action_block .desc
    {
        width: 552px;
    }


    .action_block .btn
    {
        font-size: 18px;

        padding: 10px 24px;
    }


    .action_block .img
    {
        height: 216px;
    }



    /*-------------
        Doctors
    -------------*/
    .doctors .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .doctors .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }



    /*-------------------
        About doctors
    -------------------*/
    .about_doctors .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .about_doctors .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .about_doctors .block_head
    {
        width: calc(66.666% - 20px);
    }


    .about_doctors .stats
    {
        font-size: 18px;
    }

    .about_doctors .stats .val
    {
        font-size: 40px;
    }



    /*-----------------
        Prices info
    -----------------*/
    .prices_info table th,
    .prices_info table td
    {
        padding: 12px;
    }



    /*-----------------
        Clinic info
    -----------------*/
    .clinic_info .map
    {
        margin-bottom: 20px;
        padding: 40px 0;
    }



    .clinic_info .order_form
    {
        width: 360px;
    }


    .clinic_info .data
    {
        margin: 0;
        padding: 32px;
    }


    .clinic_info .item .callback_btn
    {
        padding: 10px 20px;
    }


    .clinic_info .item .location,
    .clinic_info .item .time,
    .clinic_info .item .email
    {
        font-size: 18px;
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .services .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .services .service
    {
        font-size: 18px;

        height: 176px;
        padding: 24px;

        border-radius: 24px;
    }


    .services .service .logo
    {
        top: 24px;
        left: 24px;
    }


    .services .service .name
    {
        width: 216px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .sub_title
    {
        font-size: 23px;
    }



    /*-----------------
        Only method
    -----------------*/
    .only_method .data
    {
        padding: 0 40px;
    }


    .only_method .title
    {
        font-size: 23px;
    }


    .only_method .row > *
    {
        font-size: 18px;

        padding: 0;
    }


    .only_method .exp
    {
        font-size: 13px;

        margin-top: 4px;
    }



    /*-------------------------
        Phacoemulsification
    -------------------------*/
    .phacoemulsification .stats .val
    {
        font-size: 48px;
    }

    .phacoemulsification .stats .desc
    {
        font-size: 18px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .advantages .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .advantages .item
    {
        padding: 24px 24px 52px;

        border-radius: 24px;
    }

    .advantages .item .name
    {
        font-size: 18px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .swiper
    {
        margin-right: 0;
        margin-left: 0;
    }


    .cases .case
    {
        padding: 40px;
    }


    .cases .case .data
    {
        width: calc(100% - 200px);
        padding-right: 0;
    }

    .cases .case .title
    {
        font-size: 23px;
    }


    .cases .case .images
    {
        padding-right: 20px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .items
    {
        padding: 0;
    }


    .steps .item .icon
    {
        position: relative;
        top: -2px;
    }


    .steps .item .name
    {
        font-size: 18px;
    }



    /*----------------
        Confidence
    ----------------*/
    .confidence .data
    {
        padding: 52px 40px;

        border-radius: 32px;
    }


    .confidence .info
    {
        width: 672px;
    }


    .confidence .title
    {
        font-size: 18px;
    }

    .confidence .text
    {
        font-size: 23px;
    }



    /*------------
        Footer
    ------------*/
    footer .cont + .cont
    {
        margin-top: 52px;
    }


    footer .info
    {
        width: 280px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        width: 580px;
        padding: 40px;
    }


    .modal_title
    {
        font-size: 27px;
    }
}
