.swiper-button-next,
.swiper-button-prev
{
    color: #fff;

    top: 0;
    bottom: 0;

    display: flex;

    width: 44px;
    height: 44px;
    margin: auto;

    transition: .2s linear;
    transform: none;

    border-radius: 50%;
    background: #31577c;

    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-button-prev
{
    left: 0;
}

.swiper-button-next
{
    right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #31577c;

    background: #f1f3f5;
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled
{
    opacity: 0;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: -20px;
    left: 0;

    display: flex;

    width: 100%;
    height: 8px;

    pointer-events: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-pagination-bullet
{
    display: block;

    width: 8px;
    height: 8px;

    transition: background .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: none;
    border-radius: 50%;
    background: rgba(49, 87, 124, .24);
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 4px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #31577c;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
